In [2]:
import os
import pandas as pd

In [3]:
os.chdir("E:\Tarun\PythonBlogsExcel")

In [4]:
carsData = pd.read_csv('Toyota.csv', index_col=0, na_values=["??","???"])

In [5]:
carsData2 = carsData.copy()

In [6]:
#To generate a frequency table
pd.crosstab(index=carsData2['FuelType'],columns='count',dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

In [7]:
#two way tables
pd.crosstab(index = carsData2['Automatic'],
           columns = carsData2['FuelType'],
           dropna = True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

In [8]:
#Joint probability
pd.crosstab(index = carsData2['Automatic'],
           columns = carsData2['FuelType'],
           normalize = True,
           dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

In [9]:
#Marginal probability
pd.crosstab(index = carsData2['Automatic'],
           columns = carsData2['FuelType'],
           margins = True,
           dropna = True,
           normalize = True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

In [11]:
#Conditional probability
pd.crosstab(index = carsData2['Automatic'],
           columns = carsData2['FuelType'],
           margins = True,
           dropna = True,
           normalize = 'columns')

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

In [12]:
#Correlation
numericalData = carsData2.select_dtypes(exclude=[object])

In [13]:
print(numericalData.shape)

(1436, 7)

In [14]:
coorMatrix = numericalData.corr()

In [15]:
print(coorMatrix)

              Price       Age        KM  MetColor  Automatic        CC  \
Price      1.000000 -0.878407 -0.574720  0.112041   0.033081  0.165067
Age       -0.878407  1.000000  0.512735 -0.099659   0.032573 -0.120706
KM        -0.574720  0.512735  1.000000 -0.093825  -0.081248  0.299993
MetColor   0.112041 -0.099659 -0.093825  1.000000  -0.013973  0.029189
Automatic  0.033081  0.032573 -0.081248 -0.013973   1.000000 -0.069321
CC         0.165067 -0.120706  0.299993  0.029189  -0.069321  1.000000
Weight     0.581198 -0.464299 -0.026271  0.057142   0.057249  0.651450

             Weight
Price      0.581198
Age       -0.464299
KM        -0.026271
MetColor   0.057142
Automatic  0.057249
CC         0.651450
Weight     1.000000