In [1]:
import os
import pandas as pd

In [2]:
os.chdir("E:\Tarun\PythonBlogsExcel")

In [8]:
carsData = pd.read_csv('Toyota.csv', index_col=0, na_values=["??","????"])

In [9]:
carsData2 = carsData.copy()
carsData3 = carsData.copy()

In [10]:
carsData.isna().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [11]:
missing = carsData2[carsData2.isnull().any(axis=1)]

In [12]:
print(missing)

      Price   Age       KM FuelType    HP  MetColor  Automatic    CC Doors  \
2     13950  24.0  41711.0   Diesel  90.0       NaN          0  2000     3
6     16900  27.0      NaN   Diesel   NaN       NaN          0  2000     3
7     18600  30.0  75889.0      NaN  90.0       1.0          0  2000     3
9     12950  23.0  71138.0   Diesel   NaN       NaN          0  1900     3
15    22000  28.0  18739.0   Petrol   NaN       0.0          0  1800     3
...     ...   ...      ...      ...   ...       ...        ...   ...   ...
1428   8450  72.0      NaN   Petrol  86.0       NaN          0  1300     3
1431   7500   NaN  20544.0   Petrol  86.0       1.0          0  1300     3
1432  10845  72.0      NaN   Petrol  86.0       0.0          0  1300     3
1433   8500   NaN  17016.0   Petrol  86.0       0.0          0  1300     3
1434   7250  70.0      NaN      NaN  86.0       1.0          0  1300     3

      Weight
2       1165
6       1245
7       1245
9       1105
15      1185
...      ...
1428    1015
1431    1025
1432    1015
1433    1015
1434    1015

[340 rows x 10 columns]

In [13]:
carsData2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [14]:
carsData2['Age'].mean()

55.67215568862275

In [15]:
carsData2['Age'].fillna(carsData2['Age'].mean(),inplace=True)

In [16]:
carsData2['KM'].fillna(carsData2['KM'].median(), inplace=True)

In [17]:
carsData2['HP'].fillna(carsData2['HP'].mean(), inplace=True)

In [18]:
carsData2.isnull().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [19]:
carsData2['FuelType'].value_counts()

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [20]:
carsData2['FuelType'].fillna(carsData2['FuelType'].value_counts().index[0], inplace=True)

In [23]:
carsData2['MetColor'].fillna(carsData2['MetColor'].mode()[0], inplace=True)

In [24]:
carsData2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [25]:
carsData3.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [27]:
carsData3 = carsData3.apply(lambda x:x.fillna(x.mean()) 
                           if x.dtype=='float' else
                           x.fillna(x.value_counts().index[0]))

In [28]:
carsData3.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64